ul {
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    color: #5F6368
}

body {
       margin: 0;

}

a {
    text-decoration: none;
    ;
}

a:hover {
    text-decoration: underline;
}

/* upper navbar */

.topNavRight {
float: right;
margin-right: 30px;
}

.topNavRight li {
    list-style: none;
    display: inline-block;
    text-align: right;
    padding: 8px 10px ;
}

.topNavLeft {
    float: left;
   margin-left: 20px;
}

.topNavLeft li{
    list-style: none;
    display: inline-block;
    text-align: left;
    padding: 8px 10px;
}

.fa {
    font-size: 25px;
    margin-right: 50px;
     
}

fa:hover {
    text-decoration: none;
}

/* searchbox */

.googlebox {
    
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.googlebox img {
    padding: 150px 0 24px 0;
    display: block;
    margin: 0 auto;
}

.googlebox input {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
    display: block;
    border-radius: 10em;
}

#container{
    display: flex;
    align-items: center;
    
}





/*  footer links*/
.footLinks {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;   
    background:rgb(235, 233, 233);
}
 
.leftLinks a{
    float: left;
    display: inline-block;
    text-align: left;
    padding: 5px;
    padding-top: 10px;
}

.rightLinks a{
    float: right;
    display: inline-block;
    text-align: right;
    padding: 5px;
    padding-top: 10px;
    

}
